<!DOCTYPE html>
<html lang="en">
  <head>
    <script type='text/javascript' src='https://catalogshampoo-hearttina.codio.io/i0Ha6FnGrNhBX27C1jHT540v-_KCz9YnL6Hm2ZSTQFr70xrPFc_5cAc0UAnauZELFVV3Je0eDOqfz-kEIB61i1H9pMEbbyeoZFkPFYCSP8406OEbcdAwY4nxOM-0PGXvdjwcjtdoztlbPqXO5zlDjhkbKjDmVSLJ4YLIXZbEWfQ='></script>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Add Book</title>
  </head>
  <body>

    <h1>Add a new book</h1>

    {% if success_message %}
      <p style="color: green;">{{ success_message }}</p>
    {% endif %}

    <form action="/add_book" method="POST">
      <label for="isbn">ISBN:</label><br>
      <input type="text" id="isbn" name="isbn" required><br><br>

      <label for="title">Title:</label><br>
      <input type="text" id="title" name="title" required><br><br>

      <label for="publication_year">Publication year:</label><br>
      <input type="number" id="publication_year" name="publication_year" required><br><br>

      <label for="author_id">Author:</label><br>
      <select id="author_id" name="author_id" required>
        <option value="">-- choose an author --</option>
        {% for author in authors %}
          <option value="{{ author.id }}">{{ author.name }}</option>
        {% endfor %}
      </select>
      <br><br>

      <button type="submit">Add book</button>
    </form>

  </body>
</html>